.commentList {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.formInput {
    width: 90% !important;
}

.formContainer {
    margin-top: 5%;
    width: 60%;
    margin-left: 15%;
}


